body {
  background-color: #EDFFF8;
  background-size: cover;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
h2 {
    font-size: 1.75rem;
    font-weight: bold;
}
h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
h4 {
    font-size: 1.25rem;
}
.text-blue {
    color: #07456F;
}

.text-green {
    color: #009F9D;
}
.no-pad {
   margin-right: -10;
   margin-left: -10;
}
.no-pad > [class^="col-"],
.no-pad > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}
.navbar {
  display: none;
}
.sidebar {
    margin: 0;
    padding: 20px;
    width: 320px;
    background-color: #07456F;
    color: #EDFFF8;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: block;
}

.sidebar a {
    display: block;
    color: #EDFFF8;
    padding: 16px;
    margin: 8px 0 8px 0;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #EDFFF8;
    background: linear-gradient(to right, #EDFFF8, #EDFFF8);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 1s 0s;
}

.sidebar a.active {
    background-color: #EDFFF8;
    color: #07456F;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a:hover:not(.active) {
    color: #07456F;
    text-decoration: none;
    font-weight: bold;
    background-size: 100% 100%;
}

.line-asset {
    margin: 40px 0 40px 0;
    width: 135px;
    height: 4px;
    background-color: #EDFFF8;
}

.btn {
    min-width: 100px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    line-height: 28px;
    text-align: center;
}
.btn:hover {
    border: 2px solid #0C8987;
    background: #0C8987;
    color: white;
    height: 50px;
}
.btn-primary {
    background: #009F9D;
    border-radius: 5px;
    color: #FFFFFF;
}

.btn-outline-primary {
    border: 2px solid #009F9D;
    box-sizing: border-box;
    border-radius: 5px;
    color: #009F9D;
}

button.exit {
  width: 280px;
  position: absolute;
  bottom: 20px;
}

.btn-delete {
    padding: 1px;
    margin-bottom: 3px;
    height: 30px;
}
.btn-delete:hover {
    padding: 1px;
    margin-bottom: 3px;
    height: 30px;
}

.panel-custom {
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border: 0px;
    border-radius: 5px;
    padding: 20px;
}
.panel-transaksi {
    padding: 30px;
    width: 60%;
    height: 500px;
    margin-top: 100px;
}
.panel-kategori {
    padding: 40px;
    width: 100%;
    height: 50vh;
}
.panel-wishlist {
    padding: 40px;
    width: 100%;
    height: 50vh;
}
.panel-small {
    padding: 1px;
    height: 50px;
}
.col-sm-9 {
    padding: 0.75rem;
}
.col-form-label, .form-control {
  margin: 5px 0 5px 0;
}

.form-control {
  border: 1px solid #009F9D;
  color: #85848B;
}

.form-rekap, .form-rekap:focus {
  margin: 0;
  height: 50px;
  border: 0px;
  background-color: white;
  background: #FFFFFF;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border: 0px;
  border-radius: 5px;
  padding: 10px;
}
img.overlay-img {
  position: sticky;
  bottom: 0;
  opacity: 0.2;
  z-index: -1;
}
thead {
    background-color: #009F9D;
    color: white;
}
div.grey-line {
    width: 100%;
    margin: 12px 0 12px 0;
    border: 0.5px solid #009F9D;
}
@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .navbar {display: block;}
  .sidebar a {float: left;}
  button.exit {
     margin-: 50px;
     width: 90%;
  }
  panel-transaksi {
     padding: 10px;
     width: 400px;
     height: 700px;
     margin-bottom: 50px;
  }
  .panel-kategori {
     margin-top: 60px;
     height: 450px;
  }
  .panel-wishlist {
     height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

