 body {
	background-color: #009F9D;
	background-image: url("https://i.ibb.co/7XH9czD/BG-Landing.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin: 0;
 	font-family: "Raleway", sans-serif;
 }

 .row {
	background-color: #EDFFF8;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
 }

 h1 {
 	color: #07456F;
 	font-size: 72px;
 }

 p {
	color: #009F9D;
	font-size: 14px;
 }
