<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Web Icon -->
    <link rel="shortcut icon" href="https://i.ibb.co/X7p27sT/wallet.png">
    <!-- Font Use -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/base.css" th:href="@{/css/base.css}" />
</head>

<body>

<div class="col-sm-3" th:fragment="side-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top mw-100">
        <a class="navbar-brand mb-0 h1" href="/">Wallet Guardian</a>
        <button class="navbar-toggler float-right sticky-top" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="sidebar" id="navbarSupportedContent">
        <h3 id="username"></h3>
        <input id="userToken" type="hidden" th:value="${username}">
        <h4 th:text="${today}"></h4> <br>
        <div class="line-asset"></div>

        <div id="nav-btns">
            <a class="side-nav-btn" href="/">Tambah Transaksi</a>
            <a class="side-nav-btn" href="/rekap">Rekap Keuangan</a>
            <a class="side-nav-btn"href="/kategori">Kategori</a>
            <a class="side-nav-btn"href="/wishlist">Wishlist</a>
        </div>
        <br>
        <button class="btn btn-primary exit" onclick="logout()">Keluar</button>
        <br>
    </div>
</div>

<script th:fragment="functions">
    $.get("/user", function(data) {
        $("#username").html(data.userAuthentication.details.name);
    });
    var logout = function() {
        alert("Mohon maaf, fitur keluar belum bisa.");
        $.post("/logout", function() {
            $("#username").html('');
            $(".unauthenticated").show();
            $(".authenticated").hide();
        });
        return true;
    }
</script>
<script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"  th:fragment="logout">
    $.ajaxSetup({
        beforeSend : function(xhr, settings) {
            if (settings.type == 'POST' || settings.type == 'PUT'
                || settings.type == 'DELETE') {
                if (!(/^https:.*/.test(settings.url) || /^https:.*/
                    .test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-XSRF-TOKEN",
                        Cookies.get('XSRF-TOKEN'));
                }
            }
        }
    });
</script>
</body>
</html>
