<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Title -->
    <title>WALLET GUARDIAN</title>
    <!-- Font Use -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- CSS -->
    <!--<link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}" />-->

    <style>
         body, html {
            font-family: "Raleway", sans-serif;
            height: 100%;
            margin: 0;
         }
         .bg {
            background-image: url("https://i.ibb.co/7XH9czD/BG-Landing.png");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
         }
         .row {
            background-color: #EDFFF8;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80vw;
            height: 75vh;
            transform: translate(-50%, -50%);
            padding: 3rem;
            align-items: center;
            box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
         }
         h1 {
            color: #07456F;
            font-size: 4rem;
         }

         p {
            color: #009F9D;
            font-size: 14px;
         }
         .grey-line {
            margin: 30px 0 30px 0;
            border: 0.3px solid #07456F;
         }

    </style>
</head>
<body>
    <div class="bg">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <h1 class="text-center"><b>Wallet</b></h1>
                <h1 class="text-center">Guardian</h1>
                <br>
                <p class="text-center">Aplikasi website untuk
                    <b>mencatat pengeluaran dan pemasukan sehari - hari </b>
                    yang ditampilkan melalui laporan harian, mingguan,
                    bulanan, serta berdasarkan kategori yang dapat disesuaikan.</p>
                <div class="grey-line"></div>
                <a href="/login">

                    <img class="img-fluid" src="https://i.ibb.co/KVT8qZc/Google-Button.png"><br>
                </a>
            </div>
            
            <div class="col-sm-7">
                <img class="img-fluid" src="https://i.ibb.co/RYGM66x/asset-landing.png">
            </div>
        </div>
    </div>

    </div>

    <div>
        <p id="user"></p>
    </div>

    <script type="text/javascript">
        $.get("/user", function(data) {
            $("#user").html(data.userAuthentication.details.name);
            $(".unauthenticated").hide()
            $(".authenticated").show()
        });
    </script>
</body>
</html>